html {
  overflow-y: auto;
  height: 100%;
  font-family: "Poppins",sans-serif !important;
  -webkit-font-smoothing: antialiased;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Poppins",sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  overflow-y: auto;
  height: 100%;
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-position: 50%!important;
  background-attachment: fixed!important;
  background-size: cover!important;
}
.main-container {
  position: relative;
  min-height: 100vh; 
}
.activeNavbarItem {
  color: #ffffff !important;
}
@media screen and (max-width: 854px) {
  .activeNavbarItem {
    color: #ffffff !important;
  }
}
.border {
  border: 4px solid #d01857;
}

.ReactModal__Overlay--after-open{
  background: rgba(0,0,0,0.2) !important;
}

.ReactModal__Content--after-open {
  box-shadow: 0px 3px 5px -1px rgb(0 0 0 / 20%), 0px 5px 8px 0px rgb(0 0 0 / 14%), 0px 1px 14px 0px rgb(0 0 0 / 12%);
  background-color: rgba(255, 255, 255, 0.8) !important;
  outline: none;
  padding: 32px;
}
@media screen and (max-width: 600px) {
  .ReactModal__Content--after-open {
    width: 80% !important;
  }
}
.bm-overlay {
  top: 0px;
  left: 0px;
}